<section class="projects_container">
  <h2 class="projects_title">Meus Projetos</h2>
  
  <!-- Grid para organizar os cards de projeto -->
  <div class="project_grid">

    <!-- Loop para renderizar cada projeto da lista -->
    @for (project of projects(); track project.name) {
      <div class="project_card">
        <header class="card_header">
          <h3 class="card_title">{{ project.name }}</h3>
          
           <div class="github-links">
                <!-- O link do GitHub só aparece se a URL for fornecida -->
                @if (project.githubUrls && project.githubUrls.length > 0) {
                  @for (githubUrl of project.githubUrls; track githubUrl.name) {
                    <!-- CORREÇÃO: Uso de [title] e [src] para property binding -->
                    <a [href]="githubUrl.url" target="_blank" rel="noopener noreferrer" [title]="githubUrl.name">
                      @if(githubUrl.iconClass){
                        <img [src]="githubUrl.icon" [alt]="'Ícone do projeto ' + githubUrl.name" class="github-icon-no-black-white">
                      }@else{
                        <img [src]="githubUrl.icon" [alt]="'Ícone do projeto ' + githubUrl.name" class="github-icon">
                      }
                    </a>
                  }
                }
            </div>
        </header>
        
        <p class="card_description">{{ project.description }}</p>
        
        <!-- Seção para listar as tecnologias usadas -->
        <footer class="card_footer">
          @for(tech of project.techStack; track tech) {
            <span class="tech_tag">{{ tech }}</span>
          }
        </footer>
      </div>
    }

    <!-- Card especial para projetos universitários -->
    <div class="project_card university_card">
      <h3 class="card_title">+20 Projetos</h3>
      <p class="card_description">
        Outros projetos desenvolvidos durante a universidade, explorando diversas tecnologias e conceitos fundamentais.
      </p>
    </div>

  </div>
</section>