<section class="home_container">
  <div class="home_hero">
    <h2 class="home_title">Roberto Henrique</h2>
    <p class="home_subtitle">Desenvolvedor Full Stack | Spring Boot & React</p>
    <p class="home_paragraph">
      Apaixonado por sistemas em tempo real, segurança e boas práticas de código.
    </p>
  </div>

  <div class="home_contact">
    <p><strong>📍 Localização:</strong> Paulista, PE</p>
    <p><strong>📧 Email: </strong> robertohfsilva@gmail.com</p>
    <p><strong>💻 GitHub: </strong> 
      <a href="https://github.com/Hen05" target="_blank">https://github.com/Hen05</a>
    </p>
    <p><strong>🔗 LinkedIn: </strong> 
      <a href="https://www.linkedin.com/in/robertohfsilva/" target="_blank">https://www.linkedin.com/in/robertohfsilva/</a>
    </p>
  </div>
</section>
